// ---------------------color
$orange: #f9b43b;
$red: #e45028;
$white: #ffffff;
$black: #2f3234;
$total-black: #111;
$grey: #6d6e6e;
$light-grey: #585858;
$dark-grey: #141414;
$beige: #d1cfcb;

// ---------------------max-width
$tablet: 768px;
$phone: 480px;


//----------layout
@import "layout/normalize.scss";
@import "layout/fonts.scss";

//----------mixin
@import "mixin/mixin.scss";
@import "mixin/media.scss";

//----------стили
@import "block/adjustment.scss";
@import "block/hero.scss";
@import "block/header.scss";
@import "block/nav-vertical.scss";
@import "block/order-link.scss";
@import "block/hero-arrow.scss";
@import "block/about.scss";
@import "block/burger.scss";
@import "block/team.scss";
@import "block/menu.scss";
@import "block/review.scss";
@import "block/form.scss";
@import "block/contact.scss";
@import "block/footer.scss";
@import "block/nav-point.scss";
