.about{
  @include page();
  background: url('../img/background/Background-we.jpg') center center no-repeat;
  background-color: #fff;
  background-size: cover;
}

.title--two,
.about-content__desc{
  width: 100%;
}

.title--two{
  text-align: center;
  padding-top: 120px;
  color: #2f3234;
}

.about-content__desc{
  padding-top: 40px;
}

.about-content__item{
  display: inline-block;
  width: 280px;
  margin-right: 40px;
  text-align: center;
  vertical-align: top;
    &:last-child{
      margin-right: 0;
    }
}

.about-content__logo{
  height: 90px;
  margin-bottom: 30px;
}

.about-content__declaration{
  font-size: 24px;
  color: #2f3234;
  @include fonts(lifehack);
  margin-bottom: 15px;
}

.about-content__text{
  font-size: 14px;
  color: #6d6e6e;
  line-height: 1.5;
    @include fonts(ubuntu,light);
}
