.about{
  background: url('../img/background/Background-we.jpg') center center no-repeat;
  background-size: cover;
}

.about-content{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  height: 100%;
}

.about-content__wrapper{
  transform: translateY(rem(-21px));
    @include tablet{
      transform: translateY(rem(-94px));
    }
}


.title--two,
.about-content__desc{
  width: 100%;
}

.title--two{
  text-align: center;
  padding-bottom: rem(32px);
    @include phone{
      font-size: rem(50px);
      padding-top: rem(123px);
      padding-bottom: rem(14px);
    }
}

.about-content__list{
  display: flex;
    @include phone{
      flex-direction: column;
    }
}

.about-content__item{
  display: flex;
  flex: 1 1 33%;
  flex-direction: column;
  align-items: center;
    @include phone{
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      padding-bottom: rem(46px);
    }
}

.about-content__logo{
  max-height: rem(90px);
  margin-bottom: rem(30px);
    @include phone{
      max-width: rem(90px);
      margin: 0 auto;
    }
}

.about-content__article{
  text-align: center;
  max-width: 90%;
    @include phone{
      width: 77%;
      text-align: left;
      padding-left: rem(26px);
    }
}

.about-content__caption{
  font-size: rem(24px);
  color:  $black;
  @include fonts(lifehack);
  margin-bottom: rem(15px);
    @include phone{
      white-space: nowrap;
    }
    @include phone450{
      white-space: pre-line;
    }
}

.about-content__text{
  font-size: rem(14px);
  color: $grey;
  line-height: 1.5;
  @include fonts(ubuntu,light);
}
