html, body{
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

.body{
  font-size: 14px;
  font-family: 'ubuntu', Arial, sans-serif;
  font-weight: 300;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper{
  min-height: 100%;
  height: auto !important;
  overflow: hidden;
  position: relative;
}

.section{
  height: 100vh;
  position: relative;
}

.container{
  width: 940px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

.title{
  font-size: 72px;
  text-transform: uppercase;
  @include fonts(gagalin);
      &--color{
        &--orange{
          color: $orange;
        }
        &--white{
          color: $white;
        }
        &--black{
          color: $black;
        }
      }
}

/*------------стили для тегов------------*/
ul{
  margin: 0;
  padding: 0;
}

ul li{
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
  font-weight: normal;
}

*{box-sizing: border-box;}
