html, body{
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

html{
  @include phone420{
    font-size: rem(12px);
  }
}

body{
  font-size: rem(14px);
  font-family: 'ubuntu', Arial, sans-serif;
  font-weight: 300;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper{
  height: 100%;
  overflow: hidden;
  position: relative;
}

.maincontent{
  height: 100%;
  min-height: 600px;
  position: relative;
  transition: 1s;
  will-change: transform;
}

.section{
  height: 100%;
  position: relative;
    @include tablet{
    min-height: initial;
  }
}

.container{
  max-width: 87.3%;
  padding-left: rem(10px);
  padding-right: rem(10px);
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
    @include tablet{
      max-width: 96.4%;
    }
    @include phone{
      max-width: 100%;
    }
}

.title{
  font-size: rem(72px);
  text-transform: uppercase;
  @include fonts(gagalin);
      &--color{
        &--orange{
          color: $orange;
        }
        &--white{
          color: $white;
        }
        &--black{
          color: $black;
        }
      }
      @include phone{
        font-size: rem(50px);
      }
}

/*------------стили для тегов------------*/
ul{
  margin: 0;
  padding: 0;
}

ul li{
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
  font-weight: normal;
}

*{box-sizing: border-box;}
