.burger{
  background-image: linear-gradient(to bottom, rgb(249,180,59), rgb(235,140,56) 48%, rgb(249,180,59) 100%);
}

.burger__wrapper{
  display: flex;
  height: 100vh;
  align-items: center;
}

.burger__content{
  display: flex;
  height: 72%;
  align-items: center;
    @include tablet{
      flex-direction: column;
      height: 100%;
      text-align: center;
      justify-content: center;
    }
}

.burger__content-left{
  flex-grow: 1;
  flex-basis: 50%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
    @include tablet{
      width: 65%;
      height: auto;
      flex-grow: 0;
      flex-basis: 39%;
    }
    @include phone{
      width: 100%;
      flex-basis: 45%;
      align-items: flex-end;
    }
}

.burger__content-right{
  flex-grow: 1;
  flex-basis: 50%;
  padding-left: 10px;
    @include tablet{
      width: 81%;
      flex-grow: 0;
      flex-basis: 38%;
    }
    @include phone{
      flex-basis: 40%;
      width: 100%;
      padding-left: 0;
    }
}

.burger__content-img{
  max-width: 100%;
  max-height: 70%;
    @include tablet{
      max-height: 100%;
      margin-top: 60px;
      margin-left: 10px;
    }
    @include phone{
      max-width: 80%;
      max-height: 80%;
      padding-left: 6px;
    }
}

.burger__composition{
  display: block;
  border-radius: 5px;
  background-color: #f08c33;
  width: 90px;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 16px;
  text-align: center;
}

.burger__composition-svg{
  max-height: 55%;
  max-width: 55%;
}

.burger__composition-text{
  color: $white;
  font-size: 16px;
  @include fonts(gagalin);
}

.burger__kkal{
  display: block;
  width: 60px;
  height: 77px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
    @include tablet{
      bottom: inherit;
      left: inherit;
      top: 0;
      right: 0;
    }
}

.burger__kkal-svg{
  padding-top: 30px;
  height: 60px;
  width: 60px;
  color: $white;
  font-size: 18px;
  @include fonts(gagalin);
  background: url(../icons/kkal.svg) center center no-repeat;
}

.burger__kkal-text{
  color: $white;
  font-size: 16px;
  @include fonts(gagalin);
}

.title--three{
  padding-top: 8px;
  padding-bottom: 44px;
  line-height: 0.9;
    @include tablet{
      padding-top: 24px;
    }
    @include phone{
      line-height: 1.1;
      padding-top: 30px;
      padding-bottom: 20px;
      width: 89%;
      padding-left: 54px;
    }

}

.burger__desk{
  padding-bottom: 8px;
  color: $white;
  font-size: 14px;
  line-height: 1.75;
  @include fonts(ubuntu, light);
    @include tablet{
      padding-bottom: 15px;
    }
}


.burger__price{
  vertical-align: baseline;
  display: inline-block;
  color: rgb(228, 80, 40);
  font-size: 72px;
  @include fonts(gagalin);
    @include phone{
      font-size: 50px;
      vertical-align: bottom;
      line-height: 1;
    }
}

.burger__ruble{
  vertical-align: baseline;
  display: inline-block;
  color: rgb(228, 80, 40);
  font-size: 30px;
  @include fonts(gagalin);
    @include phone{
      font-size: 24px;
      vertical-align: bottom;
      line-height: 1;
    }
}

.burger__link{
  vertical-align: baseline;
  margin-left: 23px;
    @include phone{
      vertical-align: bottom;
    }
}

.arrow__left,
.arrow__right{
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
}

.arrow__left{
  left: -24px;
    @include tablet{
      left: 30px;
    }
    @include phone{
      left: 10px;
    }
}

.arrow__right{
  right: -24px;
    @include tablet{
      right: 30px;
    }
    @include phone{
      right: 10px;
    }
}
