.burger__composition-block{
  display: none;
  position: absolute;
  white-space: nowrap;
  left: rem(90px);
  top: 0;
  border-radius: rem(5px);
  background-color: rgba($white, .9);
  padding: 6%;
  height: rem(332px);
  z-index: 2;

    &--active{
      display: block;
    }
    @include tablet{
      width: calc(100% - rem(150px));
    }
    @include phone{
      width: calc(100% - rem(90px));
    }
}

.burger__x{
  display: none;
  vertical-align: top;
  z-index: 2;
  width: rem(20px);
  height: rem(20px);
  position: relative;
    @include tablet{
      display: inline-block;
    }
    @include phone{
      margin-left: rem(30px);
    }
}

.burger__x-block{
  z-index: 15;
  background: #eb8262;
  height: rem(4px);
  width: rem(24px);
  position: absolute;
  top: rem(10px);
  left: -rem(2px);
  transform: rotate(45deg);

    &:after {
    content: "";
    display: block;
    position: absolute;
    height: rem(24px);
    width: rem(4px);
    background: #eb8262;
    top: rem(-10px);
    left: rem(10px);
  }
}

.burger__composition-list{
  display: inline-block;
  vertical-align: top;
  width: rem(270px);
  padding-right: rem(20px);
    @include tablet{
      width: 80%;
    }
    // @include phone{
    //   margin-left: rem(30px);
    // }
}

.burger__composition-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: rem(10px);
    &:last-child{
      margin-bottom: 0;
    }
}

.burger__composition-img{
  flex-grow: 0;
  max-width: rem(45px);
  max-height: rem(40px);
}

.burger__composition-ingred-svg{
  // width: 100%;
  // height: 100%;
}

.burger__composition-ingred{
  flex-grow: 1;
  text-align: left;
  font-size: rem(14px);
  @include fonts(ubuntu, medium);
  color: $black;
  margin-left: rem(25px);
}

.burger__composition-gramm{
  flex-grow: 0;
  text-align: right;
  font-size: rem(14px);
  text-transform: lowercase;
  @include fonts(ubuntu, light);
  color: $black;
}
