.footer{
  background-color: $total-black;
  height: rem(58px);
  margin-top: rem(-58px);
  position: absolute;
  bottom: 0;
  width: 100%;
    @include phone{
      height: rem(114px);
      margin-top: rem(-115px);
    }
}

.footer__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
    @include phone{
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
}

.footer__adress{
  @include fonts(ubuntu, light);
  font-size: rem(14px);
  color: $white;
  margin-top: rem(10px);
  margin-bottom: rem(8px);

}

.foooter__phone{
  display: block;
  text-decoration: none;
  @include fonts(ubuntu, bold);
  font-size: rem(14px);
  color: $red;
}

.foooter__phone-icon{
  margin-right: rem(6px);
}

.footer__right{
  text-align: right;
}

.socials__item{
  display: inline-block;
  margin-right: rem(16px);
    &:last-child{
      margin-right: 0;
    }
    @include phone{
      margin-top: rem(10px);
    }
}

.socials__link{
  display: inline-block;
  width: rem(20px);
  height: rem(20px);

}

.icon{
  display: inline-block;;
  vertical-align: middle;
  width: rem(20px);
  height: rem(20px);
  fill: $light-grey;
    &:hover{
      fill: $white;
    }
}
