.footer{
  background-color: #111;
  height: 58px;
  margin-top: -58px;
  position: absolute;
  bottom: 0;
  width: 100%;
  @include clearfix();
}

.footer__left,
.footer__right{
  float: left;
  width: 50%;
}

.footer__adress{
  @include fonts(ubuntu, light);
  font-size: 14px;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 8px;

}

.foooter__phone{
  @include fonts(ubuntu, bold);
  font-size: 14px;
  color: #e45028;
}

.foooter__phone-icon{
  margin-right: 6px;
}

.footer__right{
  text-align: right;
}

.socials__item{
  margin-top: 18px;
  display: inline-block;
  margin-right: 16px;
    &:last-child{
      margin-right: 0;
    }
}

.socials__link{
  display: inline-block;
  width: 20px;
  height: 20px;
}

.icon{
  display: inline-block;;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  fill: #585858;
    &:hover{
      fill: #fff;
    }
}
