.form{
  background: url('../img/background/form-bg.jpg') center center no-repeat;
  background-size: cover;
}

.title--seven{
  display: block;
  text-align: center;
  padding-top: rem(125px);
  padding-bottom: rem(35px);
}

.form__form{
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

.form__left,
.form__right{
  display: flex;
  flex: 1 0 50%;
  flex-direction: column;
}

.form__left{
  padding-right: rem(10px);
}

.form__right{
  padding-left: rem(10px);
}

.form__row{
  display: flex;
  flex-grow: 0;
  flex-direction: row;
  // padding-left: rem(10px);
  // padding-right: rem(10px);

      &--textarea{
        flex-grow: 2;
      }
}

.form__elem{
  display: block;
  flex: 1 1 0;
  margin-bottom: rem(17px);
  margin-right: rem(20px);

    &:last-child{
      margin-right: 0;
    }

    &--row{
      display: flex;
      flex: 0 1 32%;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }

    &--row-last{
      margin-top: rem(10px);
    }
}

.form__title{
  color: $white;
  @include fonts(ubuntu, light);
  font-size: rem(14px);
  margin-bottom: rem(8px);
    &--row{
      margin-bottom: 0;
    }
}

.form__input{
  background-color: $white;
  border: rem(1px) solid $beige;
  border-radius: rem(5px);
  width: 100%;
  height: rem(34px);
    &:focus{
      outline: none!important;
      border: rem(2px) solid #f9b43b;
    }
}

.form__textarea{
  display: block;
  background-color: $white;
  border: rem(1px) solid $beige;
  border-radius: rem(5px);
  width: 100%;
  height: rem(110px);

    &:focus{
      outline: none!important;
      border: rem(2px) solid #f9b43b;
    }
}

.form__radio,
.form__check{
  display: inline-block;
  margin-right: rem(10px);
}

.form__submit,
.form__reset{
  &:focus{
    outline: none!important;
  }
}

.form__reset{
  padding-left: rem(20px);
  background-color: transparent;
  border: none;
  color: $white;
  @include fonts(ubuntu, light);
  font-size: rem(14px);
}
