.form__wrapper{
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background-color: rgba($black, .92);
  height: 100vh;
  z-index: 10;
}

.form__modal{
  border-radius: rem(5px);
  padding-top: rem(20px);
  padding-bottom: rem(20px);
  text-align: center;
  background-color: $white;
  position: fixed;
  box-shadow: 0 0 rem(40px) 0 rgba(0, 0, 1, 0.5);
  width: rem(196px);
  height: rem(106px);
    &--ok{
      display: block;
    }
    &--error{
      display: none;
    }
}

.form__modal-text{
  margin-bottom: rem(18px);
  color: $black;
  @include fonts(ubuntu, light);
  font-size: rem(14px);
}

.form__x{
  vertical-align: middle;
  font-size: rem(13px);
  color: $white;
  padding: rem(9px) rem(15px);
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: rem(5px);
  border: none!important;
  background-color: rgb(228, 80, 40);
  @include fonts(ubuntu, medium);
  z-index: 1;
  position: relative;
}
