.form{
  background: url('../img/background/form-bg.jpg') center center no-repeat;
  background-size: cover;
}

.title--seven{
  display: block;
  text-align: center;
  padding-top: rem(125px);
  padding-bottom: rem(35px);
  white-space: nowrap;
    @include tablet700{
      padding-top: 0;
      white-space: normal;
    }
    @include phone{
      max-width: 70%;
      margin: 0 auto;
      white-space: normal;
      padding-top: 13%;
      padding-bottom: 7%;
      line-height: 1.16;
    }
}

.form__form{
  display: flex;
  flex-grow: 1;
  flex-direction: row;
    @include tablet{
      flex-direction: column;
      flex-grow: 0;
      max-width: 65%;
      margin: 0 auto;
    }
    @include phone{
      max-width: 100%;
    }
}

.form__left,
.form__right{
  display: flex;
  flex: 1 0 50%;
  flex-direction: column;
}

.form__left{
  padding-right: rem(10px);
    @include tablet{
      padding-right: 0;
    }
}

.form__right{
  padding-left: rem(10px);
    @include tablet{
      padding-left: 0;
    }
}

.form__row{
  display: flex;
  flex-grow: 0;
  flex-direction: row;

      &--textarea{
        flex-grow: 2;
          @include phone{
          margin-bottom: rem(11px);
          }
      }
      &--center{
        @include phone{
          margin-top: rem(8px);
          justify-content: center;
        }
      }
}

.form__elem{
  display: block;
  flex: 1 1 0;
  margin-bottom: rem(17px);
  margin-right: rem(20px);

    &:last-child{
      margin-right: 0;
    }

    &--row{
      display: flex;
      flex: 0 1 32%;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      white-space: nowrap;
        @include phone{
          padding-left: rem(23px);
        }
    }

    &--row-last{
      margin-top: rem(10px);
        @include tablet{
          margin-top: rem(5px);
          margin-bottom: rem(36px);
        }
    }

    @include phone{
      margin-right: rem(11px);
      &:nth-child(3){
        margin-right: 0;
      }
    }

    &--none{
      @include phone{
        display: none;
      }
    }
}

.form__title{
  color: $white;
  @include fonts(ubuntu, light);
  font-size: rem(14px);
  margin-bottom: rem(8px);
    @include tablet{
      margin-bottom: rem(5px);
    }

    &--row{
      margin-bottom: 0;
    }
}

.form__input{
  background-color: $white;
  border: rem(1px) solid $beige;
  border-radius: rem(5px);
  width: 100%;
  height: rem(34px);
    &:focus{
      outline: none!important;
      border: rem(2px) solid #f9b43b;
    }
}

.form__textarea{
  display: block;
  background-color: $white;
  border: rem(1px) solid $beige;
  border-radius: rem(5px);
  width: 100%;
  height: rem(110px);
    &:focus{
      outline: none!important;
      border: rem(2px) solid #f9b43b;
    }
}

.form__radio,
.form__check{
  display: inline-block;
  margin-right: rem(10px);
}

.form__submit,
.form__reset{
  &:focus{
    outline: none!important;
  }
}

.form__reset{
  padding-left: rem(20px);
  background-color: transparent;
  border: none;
  color: $white;
  @include fonts(ubuntu, light);
  font-size: rem(14px);
}
