.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: rem(10px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: rem(80px);
}

.logo{
  max-width: rem(90px);
  min-height: rem(70px);
}

.nav{
  display: inline-block;
}

.nav__list{
  display: inline-block;
    @include tablet{
      display: none;
    }
}

.nav__item{
  display: inline-block;
  position: relative;
  vertical-align: middle;

    &:after{
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: rem(2px) solid $white;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translate(rem(-2px), rem(-2px));
    }

    &:first-child{
      &:after{
        display: none;
      }
    }
}

.nav__link{
  vertical-align: middle;
  font-size: rem(13px);
  color: $white;
  padding: rem(11px) rem(18px);
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  @include fonts(ubuntu, medium);
    &:last-child{
      padding-right: rem(14px);
    }
}

.header__burger-menu{
  display: none;
  padding-left: rem(30px);
  padding-right: rem(6px);
    @include tablet{
      display: inline-block;
    }
}

.header__burger-blocs{
  position: relative;
  background-color: $white;
  border-radius: rem(1px);
  width: rem(24px);
  height: rem(4px);

    &:after{
      content: "";
      display: block;
      position: absolute;
      top: rem(9px);
      background-color: $white;
      border-radius: rem(1px);
      width: rem(24px);
      height: rem(4px);
    }

    &:before{
      content: "";
      display: block;
      position: absolute;
      top: rem(-9px);
      background-color: $white;
      border-radius: rem(1px);
      width: rem(24px);
      height: rem(4px);
    }
}
