.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.header__left,
.header__right{
  display: flex;
}

.header__left{
  justify-content: flex-start;
}

.logo{
  max-width: 89px;
  max-height: 69px;
  overflow: hidden;
}

.header__right{
  justify-content: flex-end;
  align-items: center;
}

.nav__list{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav__item{
  display: flex;
  align-items: center;
  position: relative;
    &:after{
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: 2px solid $white;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-2px, -2px);
    }
    &:first-child{
      &:after{
        display: none;
      }
    }
}

.nav__link{
  display: flex;
  font-size: 13px;
  color: $white;
  padding: 10px 17px;
  text-transform: uppercase;
  text-decoration: none;
  @include fonts(ubuntu, medium);
}
