.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: rem(10px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: rem(80px);
}

.logo{
  max-width: rem(90px);
  min-height: rem(70px);
}

.nav{
  display: inline-block;
}

.nav__item{
  display: inline-block;
  position: relative;
  vertical-align: middle;
    &:after{
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: rem(2px) solid $white;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translate(rem(-2px), rem(-2px));
    }
    &:first-child{
      &:after{
        display: none;
      }
    }
}

.nav__link{
  vertical-align: middle;
  font-size: rem(13px);
  color: $white;
  padding: rem(11px) rem(15px);
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  @include fonts(ubuntu, medium);
}
