.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
}

.logo{
  max-width: 90px;
  min-height: 70px;
}

.nav{
  display: inline-block;
}

.nav__item{
  display: inline-block;
  position: relative;
  vertical-align: middle;
    &:after{
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: 2px solid $white;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-2px, -2px);
    }
    &:first-child{
      &:after{
        display: none;
      }
    }
}

.nav__link{
  vertical-align: middle;
  font-size: 13px;
  color: $white;
  padding: 11px 15px;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  @include fonts(ubuntu, medium);
}
