.arrow{
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 0;
  height: rem(54px);
}

.arrow__link{
  width: rem(32px);
  height: rem(16px);
  background: url(../icons/arrow-scroll.svg) center center no-repeat;
}
