.hero{
  background: url('../img/background/Background.jpg') center center no-repeat;
  background-size: cover;

    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-size: cover;
      background: url('../img/background/texture.png');
      background-color: rgba($dark-grey, 0.31);
    }
}

.hero-content{
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.hero-content__wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hero-content__left,
.hero-content__right{
  flex: 1;
  align-items: flex-start;
  transform: translateY(-76px);
}

.hero-content__img{
  display: flex;
  max-width: 100%;
  max-height: 100%;
  margin: 0 0 0 auto;
}

.hero-content__right{
  padding-top: 72px;
  padding-left: 14px;
}

.hero-content__desc{
  font-size: 65px;
  color: $white;
  padding-top: 19px;
  line-height: 0.9;
  @include fonts(lifehack);
}
