.arrow{
  display: block;
  width: 100%;
  text-align: center;
  height: rem(54px);
  position: absolute;
  bottom: 0;
  @include phone{
    height: rem(45px);
  }
}

.arrow__link{
  display: inline-block;
  width: rem(32px);
  height: rem(16px);
  background: url(../icons/arrow-scroll.svg) center center no-repeat;
}
