.hero{
  @include page();
  background: url('../img/background/Background.jpg') center center no-repeat;
  background-size: cover;

    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-size: cover;
      background: url('../img/background/texture.png');
      background-color: rgba($dark-grey, 0.31);
    }
}

.hero-content{
  @include clearfix();
}

.hero-content__left,
.hero-content__right{
  float: left;
  width: 50%;
}

.hero-content__left{
  position: relative;
}

.hero-content__drops{
  position: absolute;
  top: 55px;
  left: 15px;
}

.hero-content__img{
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding-left: 50px;
}

.hero-content__text{
  padding-top: 127px;
  padding-left: 7px;
}

.title--one,
.hero-content__desc{
  display: inline-block;
}

.hero-content__desc{
  font-size: 65px;
  color: $white;
  padding-top: 16px;
  line-height: 1;
  @include fonts(lifehack);
}
