.hero{
  background: url('../img/background/Background.jpg') center center no-repeat;
  background-size: cover;

    &:before{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-size: cover;
      background: url('../img/background/texture.png');
      background-color: rgba($dark-grey, 0.31);
    }
}

.hero-content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.hero-content__center{
  display: flex;
  flex-grow: 1;
  transform: translateY(-38px);
}

.hero-content__left,
.hero-content__right{
  flex-grow: 1;
  flex-basis: 50%;
}

.hero-content__img{
  display: block;
  max-width: 100%;
  max-height: 100%;
  padding-left: 15px;
}

.hero-content__text{
  padding-top: 137px;
  padding-left: 7px;
}

.title--one,
.hero-content__desc{
  display: inline-block;
}

.hero-content__desc{
  font-size: 65px;
  color: $white;
  padding-top: 16px;
  line-height: 1;
  @include fonts(lifehack);
}
