.menu{
  background: url('../img/background/menu.jpg') center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}

.menu__right{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.title--five{
  margin-left: rem(96px);
  margin-top: rem(98px);
    @include tablet{
      margin-left: rem(24px);
      margin-top: rem(90px);
    }
}

.menu__list{
  font-size: 0;
}

.menu__item{
  display: inline-block;

  &--active{
    .menu__title{
      color: $orange;
    }
    .menu__desc{
      width: rem(540px);
        @include tablet{
          width: rem(528px);
        }
    }
  }
}

.menu__link{
  text-decoration: none;
  position: relative;
  display: inline-block;
  width: rem(80px);
  height: 100vh;

    &--meat{
      background: url('../img/background/meat-burger.jpg') center center no-repeat;
      background-size: cover;
    }

    &--veg{
      background: url('../img/background/veg.jpg') center center no-repeat;
      background-size: cover;
    }

    &--diet{
      background: url('../img/background/dietary.jpg') center center no-repeat;
      background-size: cover;
    }

    &:after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-size: cover;
      background-color: rgba($dark-grey, .7);
      z-index: 0;
    }
}

.menu__title{
  position: absolute;
  left: rem(42px);
  bottom: rem(17px);
  font-size: rem(40px);
  z-index: 10;
  text-transform: uppercase;
  white-space: nowrap;
  @include fonts(gagalin);
  color: $white;
  transform-origin: left;
  transform: rotate(-90deg);
}

.menu__desc{
  display: inline-block;
  width: 0;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-color: rgba($dark-grey, .7);
}

.menu__text{
  display: inline-block;
  padding: rem(62px) rem(35px);
  font-size: rem(14px);
  line-height: 1.8;
  color: $white;
  @include fonts(ubuntu, light);
}
