.menu{
  background: url('../img/background/menu.jpg') center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}

.menu__left{
  width: 30%;
}

.menu__right{
  width: 70%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
    @include tablet{
      width: 100%;
      z-index: 5;
    }
}

.title--five{
  text-align: center;
  margin-left: rem(40px);
  margin-top: rem(82px);
    @include tablet{
      margin-left: rem(24px);
      margin-top: rem(90px);
    }
    @include tablet{
      margin-left: 0;
      margin-top: rem(42px);
    }
}

.accordeon-menu{
  height: 100%;
}

.menu__list{
  display: flex;
  height: 100%;
  justify-content: flex-end;
}

.menu__item{
  display: flex;
  flex-grow: 0;

  &--active{
    .menu__title{
      color: $orange;
    }
    .menu__desc{
      flex-grow: 1;
      width: 70%;
    }
  }
}

.menu__link{
  text-decoration: none;
  position: relative;
  display: block;
  width: rem(80px);
  height: 100%;

    &--meat{
      background: url('../img/background/meat-burger.jpg') center center no-repeat;
      background-size: cover;
    }

    &--veg{
      background: url('../img/background/veg.jpg') center center no-repeat;
      background-size: cover;
    }

    &--diet{
      background: url('../img/background/dietary.jpg') center center no-repeat;
      background-size: cover;
    }

    &:after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-size: cover;
      background-color: rgba($dark-grey, .7);
      z-index: 0;
    }
}

.menu__title{
  position: absolute;
  left: rem(42px);
  bottom: rem(40px);
  font-size: rem(40px);
  z-index: 10;
  line-height: 0;
  text-transform: uppercase;
  white-space: nowrap;
  @include fonts(gagalin);
  color: $white;
  transform-origin: left;
  transform: rotate(-90deg);
    // @include phone{
    //   left: rem(37px);
    //   bottom: rem(33px);
    // }
}

.menu__desc{
  width: 0;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-color: rgba($dark-grey, .7);
}

.menu__text{
  display: inline-block;
  padding: rem(62px) rem(35px);
  font-size: rem(14px);
  line-height: 1.8;
  color: $white;
  @include fonts(ubuntu, light);
}
