.nav-point{
  position: fixed;
  right: rem(50px);
  top: rem(90px);
  z-index: 5;
}

.nav-point__item{
  margin-bottom: rem(5px);
  &--active{
    .nav-point__link{
    border: rem(1px) solid $white;
    }
  }  
  &:hover{
    .nav-point__link{
    border: rem(1px) solid $white;
    }
  }
}

.nav-point__link{
  display: block;
  padding: rem(4px);
  width: rem(16px);
  height: rem(16px);
  background-color: transparent;
  border: rem(1px) solid transparent;
  border-radius: 50%;
    &:after{
      content: "";
      display: block;
      width: rem(0px);
      height: rem(0px);
      border: rem(3px) solid $white;
      border-radius: 50%;
    }
}
