.order-link{
  vertical-align: middle;
  font-size: rem(13px);
  color: $white;
  padding: rem(9px) rem(15px);
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: rem(5px);
  border: none!important;
  background-color: rgb(228, 80, 40);
  @include fonts(ubuntu, medium);
  z-index: 1;
  position: relative;
}
