.review__list{
  height: 100%;
  width: 100%;
  font-size: 0;
}

.review__item{
  display: inline-block;
  width: 25%;
  height: 50%;
  overflow: hidden;
    @include tablet{
      width: 50%;
      height: 25%;
    }
}

.review__block{
  display: block;
  width: 100%;
  height: 100%;
}

@each $number in (1, 2, 3, 4, 5, 6, 7, 8){
  .review__block--photo-#{$number}{
    background: url('../img/content/photo-#{$number}.jpg') center center no-repeat;
    background-size: cover;
  }
}

.review__elem{
  width: 100%;
  height: 100%;
  padding: rem(48px) rem(20px);
  font-size: rem(14px);
  color: $white;
  background-color: rgba(#454545, 0.7);
  text-align: left;
  visibility: hidden;
    @include tablet{
      text-align: center;
      padding: rem(32px) rem(42px);
    }
}

.review__block:hover .review__elem{
  visibility: visible;
}


.review__reviewer-name{
  text-transform: uppercase;
  margin-bottom: rem(21px);
  @include fonts(gagalin);
}

.review__review-text{
  height: 65%;
  overflow: hidden;
  @include fonts(ubuntu, light);
  line-height: 1.75;
}

.review__review-btn{
  display: inline-block;
  padding: rem(10px) rem(17px);
  font-size: rem(13px);
  margin-top: rem(6px);
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  background-color: $black;
  border-radius: rem(5px);
  @include fonts(ubuntu, light);
    &:hover{
      background-color: #1f2122;
    }
}
