.team{
  background: url('../img/background/team.jpg') center center no-repeat;
  background-size: cover;
}

.team__right{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 51%;
  background-size: cover;
  background-color: rgba($black, 0.93);
}

.team__content{
  display: flex;
  flex-direction: column;
  transform: translateY(rem(-6px));
}

.title--four{
  margin-left: rem(12px);
  margin-bottom: rem(36px);
}

.accordeon-team{
  padding-left: rem(31px);
}

.team__link{
  font-size: rem(14px);
  color: $white;
  padding-bottom: rem(17px);
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  @include fonts(gagalin);
    &:after{
      content: "";
      position: absolute;
      top: rem(5px);
      left: rem(-20px);
      display: inline-block;
      width: 0;
      height: 0;
      border-top: rem(7px) solid $orange;
      border-left: rem(5px) solid transparent;
      border-right: rem(5px) solid transparent;
    }
    &--active{
      color: $orange;

      &:after{
        border-bottom: rem(7px) solid $orange;
        border-top: 0;
        border-left: rem(5px) solid transparent;
        border-right: rem(5px) solid transparent;
      }

      .team-desc{
        display: flex;
        height: rem(138px);
        overflow: hidden;
      }
    }
}

.team-desc{
  height: rem(0px);
  width: 100%;
  overflow: hidden;
  padding-top: rem(17px);
}

.team-desc__left,
.team-desc__right{
  display: inline-block;
  vertical-align: top;
}

.team-desc__left{
  width: rem(100px);
  height: rem(100px);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.team-desc__img{
  max-height: rem(100px);
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.team-desc__right{
  width: rem(235px);
  padding-left: rem(15px);
  text-transform: none;

}

.team-desc__prof{
  display: block;
  font-size: rem(14px);
  color: $white;
  padding-bottom: rem(15px);
  @include fonts(ubuntu, bold);
}

.team-desc__text{
  display: block;
  font-size: rem(14px);
  color: $white;
  line-height: 1.7;
  @include fonts(ubuntu, light);
}
